@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --font-courier: "Courier Prime", monospace;
  --font-sans: "Encode Sans Expanded", sans-serif;
  --font-mono: "Google Sans Code", monospace;
}

@plugin "daisyui"  {
  themes: light, dark;
 };

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  color-scheme: light;
  --color-base-100: oklch(89% 0.040 210);
  --color-base-200: oklch(97% 0.040 210);
  --color-base-300: oklch(85% 0.040 210);
  --color-base-content: oklch(22% 0.030 250);

  --color-primary: oklch(0.6306 0.1077 193.89);
  --color-secondary: oklch(0.7493 0.0598 183.2 / 80%);
  --color-secondary-content: oklch(0.4644 0.0335 183.2 / 80%);

  --color-accent: oklch(62% 0.115 30);
  --color-info: oklch(62% 0.090 210);
  --color-success: oklch(62% 0.110 150);
  --color-warning: oklch(62% 0.110 80);
  --color-error: oklch(45% 0.120 25);

  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  
  --border: 1px;
  --depth: 0;
  --noise: 0;
  
  --hero-bg: radial-gradient(
    ellipse at top right,
    oklch(78% 0.06 230) 0%,
    oklch(75% 0.09 190) 40%,
    oklch(72% 0.11 40) 90%
  );

  --hero-highlight: var(--color-accent);

  --designpage-bg: radial-gradient(
    ellipse at top right,
    oklch(78% 0.06 230) 0%,
    oklch(75% 0.09 190) 40%,
    oklch(72% 0.11 40) 90%
  );
}

@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  color-scheme: dark;
  prefersDark: true;
  --color-base-100: oklch(15% 0.020 250);
  --color-base-200: oklch(20% 0.022 250);
  --color-base-300: oklch(24% 0.024 250);
  --color-base-content: oklch(83% 0.030 230);

  --color-primary: oklch(0.6306 0.1077 193.89);
  --color-secondary: oklch(0.3487 0.0324 183.2 / 60%);
  --color-secondary-content: oklch(0.7493 0.0598 183.2 / 80%);

  --color-accent: oklch(63% 0.115 30);
  --color-info: oklch(65% 0.090 210);
  --color-success: oklch(68% 0.110 150);
  --color-warning: oklch(68% 0.110 80);
  --color-error: oklch(45% 0.120 25);

  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  
  --border: 1px;
  --depth: 0;
  --noise: 0;
  
  --hero-bg: radial-gradient(
    ellipse at bottom left,
    oklch(30% 0.05 250) 0%,
    oklch(32% 0.06 230) 25%,
    oklch(28% 0.07 200) 55%,
    oklch(25% 0.08 30) 100%
  );

  --hero-highlight: var(--color-info);

  --designpage-bg: radial-gradient(
    ellipse at bottom left,
    oklch(30% 0.05 250) 0%,
    oklch(32% 0.06 230) 25%,
    oklch(28% 0.07 200) 55%,
    oklch(25% 0.08 30) 100%
  );
}

@layer utilities {
  html {
    scrollbar-gutter: stable; 
  }
  h1 {
    font-family: var(--font-mono);
    font-size: var(--text-3xl);
  }
  h2 {
    font-family: var(--font-mono);
    font-size: var(--text-xl);
  }
  h3 {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-medium);
  }
}

@layer components {
  .designpage {
    background: var(--designpage-bg);
  }
  .custom-card {
    background-color: var(--color-base-200);
    border: 1;
    border-color: var(--color-base-300);
    box-shadow: var(--shadow-sm);
    border-radius: var(--radius-md);
    padding-block: calc(var(--spacing) * 3);
    padding-inline: calc(var(--spacing) * 5);
    &.collapse {
      padding: calc(var(--spacing) * 0.5);
    } 
  }
  .hero {
    text-shadow: var(--text-shadow-sm);
    &.hero-bg {
      background: var(--hero-bg);
    }
    .hero-highlight {
      font-family: var(--font-mono);
      font-size: var(--text-lg);
      font-weight: var(--font-weight-medium);
      color: var(--hero-highlight);
    }
    h1 {
      color: var(--hero-highlight);
    }
  }
}
